In [1]:
import pandas as pd
df = pd.read_csv("/home/neosoft/Desktop/jupyter/data 2.csv") #we skiprow=1 1st line and reading from 2nd line
df

  tickers           eps  revenue price      people
0  GOOGLE         27.82       87   854  larry page
1     WMT          4.61      484    65         n.a
2    MSFT            -1       85    64  bill gates
3     RIL  NOT avilable       50  1023      mukesh
4    TATA           5.6       -1   n.a       ratan

In [32]:
df = pd.read_csv("/home/neosoft/Desktop/jupyter/data 2.csv")#we can also use header=1
#if dont have headers we can give like header= None, then it gives 1,2,3,... as heading names
#if we want to give particular named header=None, names=["tricker","esp","revenue"]
#if we want to read few rows pd.read_csv("path", nrows=3)
df

  tickers           eps  revenue price      people
0  GOOGLE         27.82       87   854  larry page
1     WMT          4.61      484    65         n.a
2    MSFT            -1       85    64  bill gates
3     RIL  NOT avilable       50  1023      mukesh
4    TATA           5.6       -1   n.a       ratan

In [33]:
#df = pd.read_csv("/home/neosoft/Desktop/jupyter/data 2.csv", na_values= ["NOT available","n.a",-1])

#used to clean mising data
#if we declare -1 here it replace at every where. but i need to replace in revenue colunm thats why we kept in dict
#df

  tickers           eps  revenue   price      people
0  GOOGLE         27.82     87.0   854.0  larry page
1     WMT          4.61    484.0    65.0         NaN
2    MSFT           NaN     85.0    64.0  bill gates
3     RIL  NOT avilable     50.0  1023.0      mukesh
4    TATA           5.6      NaN     NaN       ratan

In [2]:
df = pd.read_csv("/home/neosoft/Desktop/jupyter/data 2.csv", na_values={
    "eps": ["NOT avilable", "n.a"],
    "revenue": ["NOT avilable", "n.a", -1],
    "people": ["NOT avilable", "n.a"]
})
df

  tickers    eps  revenue price      people
0  GOOGLE  27.82     87.0   854  larry page
1     WMT   4.61    484.0    65         NaN
2    MSFT  -1.00     85.0    64  bill gates
3     RIL    NaN     50.0  1023      mukesh
4    TATA   5.60      NaN   n.a       ratan

In [37]:
#writing ack to csv
df.to_csv("new1.csv", index=False) #used to skip index

  tickers           eps  revenue   price      people
0  GOOGLE         27.82     87.0   854.0  larry page
1     WMT          4.61    484.0    65.0         NaN
2    MSFT           NaN     85.0    64.0  bill gates
3     RIL  NOT avilable     50.0  1023.0      mukesh
4    TATA           5.6      NaN     NaN       ratan

In [38]:
df.columns

Index(['tickers', 'eps', 'revenue', 'price', 'people'], dtype='object')

In [39]:
df.to_csv("new.csv", columns = ["tickers", "eps"]) #used to add particular columns

In [40]:
df.to_csv("new.csv", header=False)#used to skip header

#drop

In [28]:
df1 = pd.read_csv("/home/neosoft/Downloads/nba.csv", index_col="Name")
df1

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
#df1.drop(["Avery Bradley", "John Holland", "R.J. Hunter","R.J. Hunter"], inplace = True)
df1

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# dropping passed columns
df1.drop(["Team", "Weight"], axis=1, inplace = True)
df1

               Number Position   Age Height            College     Salary
Name
Avery Bradley     0.0       PG  25.0    6-2              Texas  7730337.0
Jae Crowder      99.0       SF  25.0    6-6          Marquette  6796117.0
John Holland     30.0       SG  27.0    6-5  Boston University        NaN
R.J. Hunter      28.0       SG  22.0    6-5      Georgia State  1148640.0
Jonas Jerebko     8.0       PF  29.0   6-10                NaN  5000000.0
...               ...      ...   ...    ...                ...        ...
Shelvin Mack      8.0       PG  26.0    6-3             Butler  2433333.0
Raul Neto        25.0       PG  24.0    6-1                NaN   900000.0
Tibor Pleiss     21.0        C  26.0    7-3                NaN  2900000.0
Jeff Withey      24.0        C  26.0    7-0             Kansas   947276.0
NaN               NaN      NaN   NaN    NaN                NaN        NaN

[458 rows x 6 columns]

In [25]:
first = df1.loc[["Avery Bradley", "R.J. Hunter"]] #used to select based on label
first

               Number Position   Age Height        College     Salary
Name
Avery Bradley     0.0       PG  25.0    6-2          Texas  7730337.0
R.J. Hunter      28.0       SG  22.0    6-5  Georgia State  1148640.0

In [35]:
# making data frame from csv file
data = pd.read_csv("/home/neosoft/Downloads/nba.csv", index_col ="Name")
data

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
# retrieving multiple rows by iloc method 
row2 = data.iloc [[3, 5, 7]]
row2

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0

In [38]:
#note: if we use iloc it gives type eror bcoz it take only integer values so we used .loc for bool indexing
# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
 
# creating a dataframe with boolean index
df = pd.DataFrame(dict, index = [True, False, True, False])
 
# accessing a dataframe using .loc[] function
print(df.loc[True])

        name  degree  score
True  aparna     MBA     90
True  sudhir  M.Tech     80

In [39]:
df2 = pd.read_csv("/home/neosoft/Downloads/nba.csv", index_col="Name")
df2

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
#used isna to detect the missing values
#df.notna : used to find the non missing values
df2.isna()  # in o/p true mean missing data, false means not

                Team  Number  Position    Age  Height  Weight  College  Salary
Name
Avery Bradley  False   False     False  False   False   False    False   False
Jae Crowder    False   False     False  False   False   False    False   False
John Holland   False   False     False  False   False   False    False    True
R.J. Hunter    False   False     False  False   False   False    False   False
Jonas Jerebko  False   False     False  False   False   False     True   False
...              ...     ...       ...    ...     ...     ...      ...     ...
Shelvin Mack   False   False     False  False   False   False    False   False
Raul Neto      False   False     False  False   False   False     True   False
Tibor Pleiss   False   False     False  False   False   False     True   False
Jeff Withey    False   False     False  False   False   False    False   False
NaN             True    True      True   True    True    True     True    True

[458 rows x 8 columns]

In [42]:
#we have 3types to iterate over rows: iterrows(), iteritems(),itertuples().
#iterrows: returns each index value along with a series containing the data in each row.
#iteritems: this function iterates over each column as key, value pair with the label as key, and column value as a Series object.
#itertuples:it returns tuple. The first element of the tuple will be the row’s corresponding index value, while the remaining values are the row values.

for i, j in df2.iterrows():
    print(i, j)
    print()

Avery Bradley Team        Boston Celtics
Number                   0
Position                PG
Age                     25
Height                 6-2
Weight                 180
College              Texas
Salary         7.73034e+06
Name: Avery Bradley, dtype: object

Jae Crowder Team        Boston Celtics
Number                  99
Position                SF
Age                     25
Height                 6-6
Weight                 235
College          Marquette
Salary         6.79612e+06
Name: Jae Crowder, dtype: object

John Holland Team           Boston Celtics
Number                     30
Position                   SG
Age                        27
Height                    6-5
Weight                    205
College     Boston University
Salary                    NaN
Name: John Holland, dtype: object

R.J. Hunter Team        Boston Celtics
Number                  28
Position                SG
Age                     22
Height                 6-5
Weight                 185
College      Georgia State
Salary         1.14864e+06
Name: R.J. Hunter, dtype: object

Jonas Jerebko Team        Boston Celtics
Number                   8
Position                PF
Age                     29
Height                6-10
Weight                 231
College                NaN
Salary               5e+06
Name: Jonas Jerebko, dtype: object

Amir Johnson Team        Boston Celtics
Number                  90
Position                PF
Age                     29
Height                 6-9
Weight                 240
College                NaN
Salary             1.2e+07
Name: Amir Johnson, dtype: object

Jordan Mickey Team        Boston Celtics
Number                  55
Position                PF
Age                     21
Height                 6-8
Weight                 235
College                LSU
Salary         1.17096e+06
Name: Jordan Mickey, dtype: object

Kelly Olynyk Team        Boston Celtics
Number                  41
Position                 C
Age                     25
Height                 7-0
Weight                 238
College            Gonzaga
Salary         2.16516e+06
Name: Kelly Olynyk, dtype: object

Terry Rozier Team        Boston Celtics
Number                  12
Position                PG
Age                     22
Height                 6-2
Weight                 190
College         Louisville
Salary         1.82436e+06
Name: Terry Rozier, dtype: object

Marcus Smart Team        Boston Celtics
Number                  36
Position                PG
Age                     22
Height                 6-4
Weight                 220
College     Oklahoma State
Salary         3.43104e+06
Name: Marcus Smart, dtype: object

Jared Sullinger Team        Boston Celtics
Number                   7
Position                 C
Age                     24
Height                 6-9
Weight                 260
College         Ohio State
Salary         2.56926e+06
Name: Jared Sullinger, dtype: object

Isaiah Thomas Team        Boston Celtics
Number                   4
Position                PG
Age                     27
Height                 5-9
Weight                 185
College         Washington
Salary         6.91287e+06
Name: Isaiah Thomas, dtype: object

Evan Turner Team        Boston Celtics
Number                  11
Position                SG
Age                     27
Height                 6-7
Weight                 220
College         Ohio State
Salary         3.42551e+06
Name: Evan Turner, dtype: object

James Young Team        Boston Celtics
Number                  13
Position                SG
Age                     20
Height                 6-6
Weight                 215
College           Kentucky
Salary         1.74984e+06
Name: James Young, dtype: object

Tyler Zeller Team        Boston Celtics
Number                  44
Position                 C
Age                     26
Height                 7-0
Weight                 253
College     North Carolina
Salary         2.61698e+06
Name: Tyler Zeller, dtype: object

Bojan Bogdanovic Team        Brooklyn Nets
Number                 44
Position               SG
Age                    27
Height                6-8
Weight                216
College               NaN
Salary        3.42551e+06
Name: Bojan Bogdanovic, dtype: object

Markel Brown Team         Brooklyn Nets
Number                  22
Position                SG
Age                     24
Height                 6-3
Weight                 190
College     Oklahoma State
Salary              845059
Name: Markel Brown, dtype: object

Wayne Ellington Team         Brooklyn Nets
Number                  21
Position                SG
Age                     28
Height                 6-4
Weight                 200
College     North Carolina
Salary             1.5e+06
Name: Wayne Ellington, dtype: object

Rondae Hollis-Jefferson Team        Brooklyn Nets
Number                 24
Position               SG
Age                    21
Height                6-7
Weight                220
College           Arizona
Salary        1.33548e+06
Name: Rondae Hollis-Jefferson, dtype: object

Jarrett Jack Team        Brooklyn Nets
Number                  2
Position               PG
Age                    32
Height                6-3
Weight                200
College      Georgia Tech
Salary            6.3e+06
Name: Jarrett Jack, dtype: object

Sergey Karasev Team        Brooklyn Nets
Number                 10
Position               SG
Age                    22
Height                6-7
Weight                208
College               NaN
Salary        1.59984e+06
Name: Sergey Karasev, dtype: object

Sean Kilpatrick Team        Brooklyn Nets
Number                  6
Position               SG
Age                    26
Height                6-4
Weight                219
College        Cincinnati
Salary             134215
Name: Sean Kilpatrick, dtype: object

Shane Larkin Team        Brooklyn Nets
Number                  0
Position               PG
Age                    23
Height               5-11
Weight                175
College        Miami (FL)
Salary            1.5e+06
Name: Shane Larkin, dtype: object

Brook Lopez Team        Brooklyn Nets
Number                 11
Position                C
Age                    28
Height                7-0
Weight                275
College          Stanford
Salary         1.9689e+07
Name: Brook Lopez, dtype: object

Chris McCullough Team        Brooklyn Nets
Number                  1
Position               PF
Age                    21
Height               6-11
Weight                200
College          Syracuse
Salary        1.14024e+06
Name: Chris McCullough, dtype: object

Willie Reed Team        Brooklyn Nets
Number                 33
Position               PF
Age                    26
Height               6-10
Weight                220
College       Saint Louis
Salary             947276
Name: Willie Reed, dtype: object

Thomas Robinson Team        Brooklyn Nets
Number                 41
Position               PF
Age                    25
Height               6-10
Weight                237
College            Kansas
Salary             981348
Name: Thomas Robinson, dtype: object

Henry Sims Team        Brooklyn Nets
Number                 14
Position                C
Age                    26
Height               6-10
Weight                248
College        Georgetown
Salary             947276
Name: Henry Sims, dtype: object

Donald Sloan Team        Brooklyn Nets
Number                 15
Position               PG
Age                    28
Height                6-3
Weight                205
College         Texas A&M
Salary             947276
Name: Donald Sloan, dtype: object

Thaddeus Young Team        Brooklyn Nets
Number                 30
Position               PF
Age                    27
Height                6-8
Weight                221
College      Georgia Tech
Salary         1.1236e+07
Name: Thaddeus Young, dtype: object

Arron Afflalo Team        New York Knicks
Number                    4
Position                 SG
Age                      30
Height                  6-5
Weight                  210
College                UCLA
Salary                8e+06
Name: Arron Afflalo, dtype: object

Lou Amundson Team        New York Knicks
Number                   17
Position                 PF
Age                      33
Height                  6-9
Weight                  220
College                UNLV
Salary          1.63548e+06
Name: Lou Amundson, dtype: object

Thanasis Antetokounmpo Team        New York Knicks
Number                   43
Position                 SF
Age                      23
Height                  6-7
Weight                  205
College                 NaN
Salary                30888
Name: Thanasis Antetokounmpo, dtype: object

Carmelo Anthony Team        New York Knicks
Number                    7
Position                 SF
Age                      32
Height                  6-8
Weight                  240
College            Syracuse
Salary           2.2875e+07
Name: Carmelo Anthony, dtype: object

Jose Calderon Team        New York Knicks
Number                    3
Position                 PG
Age                      34
Height                  6-3
Weight                  200
College                 NaN
Salary          7.40281e+06
Name: Jose Calderon, dtype: object

Cleanthony Early Team        New York Knicks
Number                   11
Position                 SF
Age                      25
Height                  6-8
Weight                  210
College       Wichita State
Salary               845059
Name: Cleanthony Early, dtype: object

Langston Galloway Team        New York Knicks
Number                    2
Position                 SG
Age                      24
Height                  6-2
Weight                  200
College      Saint Joseph's
Salary               845059
Name: Langston Galloway, dtype: object

Jerian Grant Team        New York Knicks
Number                   13
Position                 PG
Age                      23
Height                  6-4
Weight                  195
College          Notre Dame
Salary          1.57236e+06
Name: Jerian Grant, dtype: object

Robin Lopez Team        New York Knicks
Number                    8
Position                  C
Age                      28
Height                  7-0
Weight                  255
College            Stanford
Salary            1.265e+07
Name: Robin Lopez, dtype: object

Kyle O'Quinn Team        New York Knicks
Number                    9
Position                 PF
Age                      26
Height                 6-10
Weight                  250
College       Norfolk State
Salary             3.75e+06
Name: Kyle O'Quinn, dtype: object

Kristaps Porzingis Team        New York Knicks
Number                    6
Position                 PF
Age                      20
Height                  7-3
Weight                  240
College                 NaN
Salary          4.13172e+06
Name: Kristaps Porzingis, dtype: object

Kevin Seraphin Team        New York Knicks
Number                    1
Position                  C
Age                      26
Height                 6-10
Weight                  278
College                 NaN
Salary            2.814e+06
Name: Kevin Seraphin, dtype: object

Lance Thomas Team        New York Knicks
Number                   42
Position                 SF
Age                      28
Height                  6-8
Weight                  235
College                Duke
Salary          1.63684e+06
Name: Lance Thomas, dtype: object

Sasha Vujacic Team        New York Knicks
Number                   18
Position                 SG
Age                      32
Height                  6-7
Weight                  195
College                 NaN
Salary               947276
Name: Sasha Vujacic, dtype: object

Derrick Williams Team        New York Knicks
Number                   23
Position                 PF
Age                      25
Height                  6-8
Weight                  240
College             Arizona
Salary                4e+06
Name: Derrick Williams, dtype: object

Tony Wroten Team        New York Knicks
Number                    5
Position                 SG
Age                      23
Height                  6-6
Weight                  205
College          Washington
Salary               167406
Name: Tony Wroten, dtype: object

Elton Brand Team        Philadelphia 76ers
Number                      42
Position                    PF
Age                         37
Height                     6-9
Weight                     254
College                   Duke
Salary                     NaN
Name: Elton Brand, dtype: object

Isaiah Canaan Team        Philadelphia 76ers
Number                       0
Position                    PG
Age                         25
Height                     6-0
Weight                     201
College           Murray State
Salary                  947276
Name: Isaiah Canaan, dtype: object

Robert Covington Team        Philadelphia 76ers
Number                      33
Position                    SF
Age                         25
Height                     6-9
Weight                     215
College        Tennessee State
Salary                   1e+06
Name: Robert Covington, dtype: object

Joel Embiid Team        Philadelphia 76ers
Number                      21
Position                     C
Age                         22
Height                     7-0
Weight                     250
College                 Kansas
Salary             4.62696e+06
Name: Joel Embiid, dtype: object

Jerami Grant Team        Philadelphia 76ers
Number                      39
Position                    SF
Age                         22
Height                     6-8
Weight                     210
College               Syracuse
Salary                  845059
Name: Jerami Grant, dtype: object

Richaun Holmes Team        Philadelphia 76ers
Number                      22
Position                    PF
Age                         22
Height                    6-10
Weight                     245
College          Bowling Green
Salary             1.07417e+06
Name: Richaun Holmes, dtype: object

Carl Landry Team        Philadelphia 76ers
Number                       7
Position                    PF
Age                         32
Height                     6-9
Weight                     248
College                 Purdue
Salary                 6.5e+06
Name: Carl Landry, dtype: object

Kendall Marshall Team        Philadelphia 76ers
Number                       5
Position                    PG
Age                         24
Height                     6-4
Weight                     200
College         North Carolina
Salary             2.14477e+06
Name: Kendall Marshall, dtype: object

T.J. McConnell Team        Philadelphia 76ers
Number                      12
Position                    PG
Age                         24
Height                     6-2
Weight                     200
College                Arizona
Salary                  525093
Name: T.J. McConnell, dtype: object

Nerlens Noel Team        Philadelphia 76ers
Number                       4
Position                    PF
Age                         22
Height                    6-11
Weight                     228
College               Kentucky
Salary              3.4578e+06
Name: Nerlens Noel, dtype: object

Jahlil Okafor Team        Philadelphia 76ers
Number                       8
Position                     C
Age                         20
Height                    6-11
Weight                     275
College                   Duke
Salary             4.58268e+06
Name: Jahlil Okafor, dtype: object

Ish Smith Team        Philadelphia 76ers
Number                       1
Position                    PG
Age                         27
Height                     6-0
Weight                     175
College            Wake Forest
Salary                  947276
Name: Ish Smith, dtype: object

Nik Stauskas Team        Philadelphia 76ers
Number                      11
Position                    SG
Age                         22
Height                     6-6
Weight                     205
College               Michigan
Salary             2.86944e+06
Name: Nik Stauskas, dtype: object

Hollis Thompson Team        Philadelphia 76ers
Number                      31
Position                    SG
Age                         25
Height                     6-8
Weight                     206
College             Georgetown
Salary                  947276
Name: Hollis Thompson, dtype: object

Christian Wood Team        Philadelphia 76ers
Number                      35
Position                    PF
Age                         20
Height                    6-11
Weight                     220
College                   UNLV
Salary                  525093
Name: Christian Wood, dtype: object

Bismack Biyombo Team        Toronto Raptors
Number                    8
Position                  C
Age                      23
Height                  6-9
Weight                  245
College                 NaN
Salary            2.814e+06
Name: Bismack Biyombo, dtype: object

Bruno Caboclo Team        Toronto Raptors
Number                   20
Position                 SF
Age                      20
Height                  6-9
Weight                  205
College                 NaN
Salary            1.524e+06
Name: Bruno Caboclo, dtype: object

DeMarre Carroll Team        Toronto Raptors
Number                    5
Position                 SF
Age                      29
Height                  6-8
Weight                  212
College            Missouri
Salary             1.36e+07
Name: DeMarre Carroll, dtype: object

DeMar DeRozan Team        Toronto Raptors
Number                   10
Position                 SG
Age                      26
Height                  6-7
Weight                  220
College                 USC
Salary            1.005e+07
Name: DeMar DeRozan, dtype: object

James Johnson Team        Toronto Raptors
Number                    3
Position                 PF
Age                      29
Height                  6-9
Weight                  250
College         Wake Forest
Salary              2.5e+06
Name: James Johnson, dtype: object

Cory Joseph Team        Toronto Raptors
Number                    6
Position                 PG
Age                      24
Height                  6-3
Weight                  190
College               Texas
Salary                7e+06
Name: Cory Joseph, dtype: object

Kyle Lowry Team        Toronto Raptors
Number                    7
Position                 PG
Age                      30
Height                  6-0
Weight                  205
College           Villanova
Salary              1.2e+07
Name: Kyle Lowry, dtype: object

Lucas Nogueira Team        Toronto Raptors
Number                   92
Position                  C
Age                      23
Height                  7-0
Weight                  220
College                 NaN
Salary            1.842e+06
Name: Lucas Nogueira, dtype: object

Patrick Patterson Team        Toronto Raptors
Number                   54
Position                 PF
Age                      27
Height                  6-9
Weight                  235
College            Kentucky
Salary          6.26868e+06
Name: Patrick Patterson, dtype: object

Norman Powell Team        Toronto Raptors
Number                   24
Position                 SG
Age                      23
Height                  6-4
Weight                  215
College                UCLA
Salary               650000
Name: Norman Powell, dtype: object

Terrence Ross Team        Toronto Raptors
Number                   31
Position                 SF
Age                      25
Height                  6-7
Weight                  195
College          Washington
Salary          3.55392e+06
Name: Terrence Ross, dtype: object

Luis Scola Team        Toronto Raptors
Number                    4
Position                 PF
Age                      36
Height                  6-9
Weight                  240

Name: Aron Baynes, dtype: object

Steve Blake Team        Detroit Pistons
Number                   22
Position                 PG
Age                      36
Height                  6-3
Weight                  172
College            Maryland
Salary          2.17046e+06
Name: Steve Blake, dtype: object

Lorenzo Brown Team             Detroit Pistons
Number                        17
Position                      PG
Age                           25
Height                       6-5
Weight                       189
College     North Carolina State
Salary                    111444
Name: Lorenzo Brown, dtype: object

Reggie Bullock Team        Detroit Pistons
Number                   25
Position                 SF
Age                      25
Height                  6-7
Weight                  205
College      North Carolina
Salary          1.25244e+06
Name: Reggie Bullock, dtype: object

Kentavious Caldwell-Pope Team        Detroit Pistons
Number                    5
Position                 SG
Age                      23
Height                  6-5
Weight                  205
College             Georgia
Salary          2.89176e+06
Name: Kentavious Caldwell-Pope, dtype: object

Spencer Dinwiddie Team        Detroit Pistons
Number                    8
Position                 PG
Age                      23
Height                  6-6
Weight                  200
College            Colorado
Salary               845059
Name: Spencer Dinwiddie, dtype: object

Andre Drummond Team        Detroit Pistons
Number                    0
Position                  C
Age                      22
Height                 6-11
Weight                  279
College         Connecticut
Salary          3.27209e+06
Name: Andre Drummond, dtype: object

Tobias Harris Team        Detroit Pistons
Number                   34
Position                 SF
Age                      23
Height                  6-9
Weight                  235
College           Tennessee
Salary              1.6e+07
Name: Tobias Harris, dtype: object

Darrun Hilliard Team        Detroit Pistons
Number                    6
Position                 SF
Age                      23
Height                  6-6
Weight                  205
College           Villanova
Salary               600000
Name: Darrun Hilliard, dtype: object

Reggie Jackson Team        Detroit Pistons
Number                    1
Position                 PG
Age                      26
Height                  6-3
Weight                  208
College      Boston College
Salary           1.3913e+07
Name: Reggie Jackson, dtype: object

Stanley Johnson Team        Detroit Pistons
Number                    3
Position                 SF
Age                      20
Height                  6-7
Weight                  245
College             Arizona
Salary          2.84196e+06
Name: Stanley Johnson, dtype: object

Jodie Meeks Team        Detroit Pistons
Number                   20
Position                 SG
Age                      28
Height                  6-4
Weight                  210
College            Kentucky
Salary             6.27e+06
Name: Jodie Meeks, dtype: object

Marcus Morris Team        Detroit Pistons
Number                   13
Position                 PF
Age                      26
Height                  6-9
Weight                  235
College              Kansas
Salary                5e+06
Name: Marcus Morris, dtype: object

Anthony Tolliver Team        Detroit Pistons
Number                   43
Position                 PF
Age                      31
Height                  6-8
Weight                  240
College           Creighton
Salary                3e+06
Name: Anthony Tolliver, dtype: object

Lavoy Allen Team        Indiana Pacers
Number                   5
Position                PF
Age                     27
Height                 6-9
Weight                 255
College             Temple
Salary            4.05e+06
Name: Lavoy Allen, dtype: object

Rakeem Christmas Team        Indiana Pacers
Number                  25
Position                PF
Age                     24
Height                 6-9
Weight                 250
College           Syracuse
Salary         1.00703e+06
Name: Rakeem Christmas, dtype: object

Monta Ellis Team        Indiana Pacers
Number                  11
Position                SG
Age                     30
Height                 6-3
Weight                 185
College                NaN
Salary            1.03e+07
Name: Monta Ellis, dtype: object

Paul George Team        Indiana Pacers
Number                  13
Position                SF
Age                     26
Height                 6-9
Weight                 220
College       Fresno State
Salary         1.71201e+07
Name: Paul George, dtype: object

George Hill Team        Indiana Pacers
Number                   3
Position                PG
Age                     30
Height                 6-3
Weight                 188
College              IUPUI
Salary               8e+06
Name: George Hill, dtype: object

Jordan Hill Team        Indiana Pacers
Number                  27
Position                 C
Age                     28
Height                6-10
Weight                 235
College            Arizona
Salary               4e+06
Name: Jordan Hill, dtype: object

Solomon Hill Team        Indiana Pacers
Number                  44
Position                SF
Age                     25
Height                 6-7
Weight                 225
College            Arizona
Salary         1.35888e+06
Name: Solomon Hill, dtype: object

Ty Lawson Team        Indiana Pacers
Number                  10
Position                PG
Age                     28
Height                5-11
Weight                 195
College     North Carolina
Salary              211744
Name: Ty Lawson, dtype: object

Ian Mahinmi Team        Indiana Pacers
Number                  28
Position                 C
Age                     29
Height                6-11
Weight                 250
College                NaN
Salary               4e+06
Name: Ian Mahinmi, dtype: object

C.J. Miles Team        Indiana Pacers
Number                   0
Position                SF
Age                     29
Height                 6-6
Weight                 231
College                NaN
Salary         4.39422e+06
Name: C.J. Miles, dtype: object

Glenn Robinson III Team        Indiana Pacers
Number                  40
Position                SG
Age                     22
Height                 6-7
Weight                 222
College           Michigan
Salary             1.1e+06
Name: Glenn Robinson III, dtype: object

Rodney Stuckey Team            Indiana Pacers
Number                       2
Position                    PG
Age                         30
Height                     6-5
Weight                     205
College     Eastern Washington
Salary                   7e+06
Name: Rodney Stuckey, dtype: object

Myles Turner Team        Indiana Pacers
Number                  33
Position                PF
Age                     20
Height                6-11
Weight                 243
College              Texas
Salary         2.35776e+06
Name: Myles Turner, dtype: object

Shayne Whittington Team          Indiana Pacers
Number                    42
Position                  PF
Age                       25
Height                  6-11
Weight                   250
College     Western Michigan
Salary                845059
Name: Shayne Whittington, dtype: object

Joe Young Team        Indiana Pacers
Number                   1
Position                PG
Age                     23
Height                 6-2
Weight                 180
College             Oregon
Salary         1.00703e+06
Name: Joe Young, dtype: object

Giannis Antetokounmpo Team        Milwaukee Bucks
Number                   34
Position                 SF
Age                      21
Height                 6-11
Weight                  222
College                 NaN
Salary          1.95396e+06
Name: Giannis Antetokounmpo, dtype: object

Jerryd Bayless Team        Milwaukee Bucks
Number                   19
Position                 PG
Age                      27
Height                  6-3
Weight                  200
College             Arizona
Salary                3e+06
Name: Jerryd Bayless, dtype: object

Michael Carter-Williams Team        Milwaukee Bucks
Number                    5
Position                 PG
Age                      24
Height                  6-6
Weight                  190
College            Syracuse
Salary          2.39904e+06
Name: Michael Carter-Williams, dtype: object

Jared Cunningham Team        Milwaukee Bucks
Number                    9
Position                 SG
Age                      25
Height                  6-4
Weight                  195
College        Oregon State
Salary               947276
Name: Jared Cunningham, dtype: object

Tyler Ennis Team        Milwaukee Bucks
Number                   11
Position                 PG
Age                      21
Height                  6-3
Weight                  194
College            Syracuse
Salary          1.66236e+06
Name: Tyler Ennis, dtype: object

John Henson Team        Milwaukee Bucks
Number                   31
Position                 PF
Age                      25
Height                 6-11
Weight                  229
College      North Carolina
Salary          2.94322e+06
Name: John Henson, dtype: object

Damien Inglis Team        Milwaukee Bucks
Number                   17
Position                 SF
Age                      21
Height                  6-8
Weight                  246
College                 NaN
Salary               855000
Name: Damien Inglis, dtype: object

O.J. Mayo Team        Milwaukee Bucks
Number                    3
Position                 SG
Age                      28
Height                  6-5
Weight                  210
College                 USC
Salary                8e+06
Name: O.J. Mayo, dtype: object

Khris Middleton Team        Milwaukee Bucks
Number                   22
Position                 SG
Age                      24
Height                  6-8
Weight                  234
College           Texas A&M
Salary             1.47e+07
Name: Khris Middleton, dtype: object

Greg Monroe Team        Milwaukee Bucks
Number                   15
Position                  C
Age                      26
Height                 6-11
Weight                  265
College          Georgetown
Salary          1.64075e+07
Name: Greg Monroe, dtype: object

Steve Novak Team        Milwaukee Bucks
Number                    6
Position                 SF
Age                      32
Height                 6-10
Weight                  225
College           Marquette
Salary               295327
Name: Steve Novak, dtype: object

Johnny O'Bryant III Team        Milwaukee Bucks
Number                   77
Position                 PF
Age                      23
Height                  6-9
Weight                  257
College                 LSU
Salary               845059
Name: Johnny O'Bryant III, dtype: object

Jabari Parker Team        Milwaukee Bucks
Number                   12
Position                 PF
Age                      21
Height                  6-8
Weight                  250
College                Duke
Salary          5.15244e+06
Name: Jabari Parker, dtype: object

Miles Plumlee Team        Milwaukee Bucks
Number                   18
Position                  C
Age                      27
Height                 6-11
Weight                  249
College                Duke
Salary          2.10929e+06
Name: Miles Plumlee, dtype: object

Greivis Vasquez Team        Milwaukee Bucks
Number                   21
Position                 PG
Age                      29
Height                  6-6
Weight                  217
College            Maryland
Salary              6.6e+06
Name: Greivis Vasquez, dtype: object

Rashad Vaughn Team        Milwaukee Bucks
Number                   20
Position                 SG
Age                      19
Height                  6-6
Weight                  202
College                UNLV
Salary          1.73304e+06
Name: Rashad Vaughn, dtype: object

Justin Anderson Team        Dallas Mavericks
Number                     1
Position                  SG
Age                       22
Height                   6-6
Weight                   228
College             Virginia
Salary             1.449e+06
Name: Justin Anderson, dtype: object

J.J. Barea Team        Dallas Mavericks
Number                     5
Position                  PG
Age                       31
Height                   6-0
Weight                   185
College         Northeastern
Salary              4.29e+06
Name: J.J. Barea, dtype: object

Jeremy Evans Team        Dallas Mavericks
Number                    21
Position                  SF
Age                       28
Height                   6-9
Weight                   200
College     Western Kentucky
Salary            1.1006e+06
Name: Jeremy Evans, dtype: object

Raymond Felton Team        Dallas Mavericks
Number                     2
Position                  PG
Age                       31
Height                   6-1
Weight                   205
College       North Carolina
Salary           3.95031e+06
Name: Raymond Felton, dtype: object

Devin Harris Team        Dallas Mavericks
Number                    34
Position                  PG
Age                       33
Height                   6-3
Weight                   185
College            Wisconsin
Salary           4.05345e+06
Name: Devin Harris, dtype: object

David Lee Team        Dallas Mavericks
Number                    42
Position                  PF
Age                       33
Height                   6-9
Weight                   245
College              Florida
Salary           2.08567e+06
Name: David Lee, dtype: object

Wesley Matthews Team        Dallas Mavericks
Number                    23
Position                  SG
Age                       29
Height                   6-5
Weight                   220
College            Marquette
Salary           1.64075e+07
Name: Wesley Matthews, dtype: object

JaVale McGee Team        Dallas Mavericks
Number                    11
Position                   C
Age                       28
Height                   7-0
Weight                   270
College               Nevada
Salary           1.27096e+06
Name: JaVale McGee, dtype: object

Salah Mejri Team        Dallas Mavericks
Number                    50
Position                   C
Age                       29
Height                   7-2
Weight                   245
College                  NaN
Salary                525093
Name: Salah Mejri, dtype: object

Dirk Nowitzki Team        Dallas Mavericks
Number                    41
Position                  PF
Age                       37
Height                   7-0
Weight                   245
College                  NaN
Salary           8.33333e+06
Name: Dirk Nowitzki, dtype: object

Zaza Pachulia Team        Dallas Mavericks
Number                    27
Position                   C
Age                       32
Height                  6-11
Weight                   275
College                  NaN
Salary               5.2e+06
Name: Zaza Pachulia, dtype: object

Chandler Parsons Team        Dallas Mavericks
Number                    25
Position                  SF
Age                       27
Height                  6-10
Weight                   230
College              Florida
Salary           1.53615e+07
Name: Chandler Parsons, dtype: object

Dwight Powell Team        Dallas Mavericks
Number                     7
Position                  PF
Age                       24
Height                  6-11
Weight                   240
College             Stanford
Salary                845059
Name: Dwight Powell, dtype: object

Charlie Villanueva Team        Dallas Mavericks
Number                     3
Position                  PF
Age                       31
Height                  6-11
Weight                   232
College          Connecticut
Salary                947276
Name: Charlie Villanueva, dtype: object

Deron Williams Team        Dallas Mavericks
Number                     8
Position                  PG
Age                       31
Height                   6-3
Weight                   200
College             Illinois
Salary           5.37897e+06
Name: Deron Williams, dtype: object

Trevor Ariza Team        Houston Rockets
Number                    1
Position                 SF
Age                      30
Height                  6-8
Weight                  215
College                UCLA
Salary          8.19303e+06
Name: Trevor Ariza, dtype: object

Michael Beasley Team        Houston Rockets
Number                    8
Position                 SF
Age                      27
Height                 6-10
Weight                  235
College        Kansas State
Salary               306527
Name: Michael Beasley, dtype: object

Patrick Beverley Team        Houston Rockets
Number                    2
Position                 PG
Age                      27
Height                  6-1
Weight                  185
College            Arkansas
Salary          6.48649e+06
Name: Patrick Beverley, dtype: object

Corey Brewer Team        Houston Rockets
Number                   33
Position                 SG
Age                      30
Height                  6-9
Weight                  186
College             Florida
Salary          8.22938e+06
Name: Corey Brewer, dtype: object

Clint Capela Team        Houston Rockets
Number                   15
Position                 PF
Age                      22
Height                 6-10
Weight                  240
College                 NaN
Salary          1.24272e+06
Name: Clint Capela, dtype: object

Sam Dekker Team        Houston Rockets
Number                    7
Position                 SF
Age                      22
Height                  6-9
Weight                  230
College           Wisconsin
Salary           1.6464e+06
Name: Sam Dekker, dtype: object

Andrew Goudelock Team        Houston Rockets
Number                    0
Position                 PG
Age                      27
Height                  6-3
Weight                  200
College          Charleston
Salary               200600
Name: Andrew Goudelock, dtype: object

James Harden Team        Houston Rockets
Number                   13
Position                 SG
Age                      26
Height                  6-5
Weight                  220
College       Arizona State
Salary          1.57564e+07
Name: James Harden, dtype: object

Montrezl Harrell Team        Houston Rockets
Number                   35
Position                 PF
Age                      22
Height                  6-8
Weight                  240
College          Louisville
Salary                1e+06
Name: Montrezl Harrell, dtype: object

Dwight Howard Team        Houston Rockets
Number                   12
Position                  C
Age                      30
Height                 6-11
Weight                  265
College                 NaN
Salary          2.23594e+07
Name: Dwight Howard, dtype: object

Terrence Jones Team        Houston Rockets
Number                    6
Position                 PF
Age                      24
Height                  6-9
Weight                  252
College            Kentucky
Salary          2.48953e+06
Name: Terrence Jones, dtype: object

K.J. McDaniels Team        Houston Rockets
Number                   32
Position                 SG
Age                      23
Height                  6-6
Weight                  205
College             Clemson
Salary          3.18979e+06
Name: K.J. McDaniels, dtype: object

Donatas Motiejunas Team        Houston Rockets
Number                   20
Position                 PF
Age                      25
Height                  7-0
Weight                  222
College                 NaN
Salary          2.28820e+06
Name: Donatas Motiejunas, dtype: object

Josh Smith Team        Houston Rockets

Name: Otto Porter Jr., dtype: object

Ramon Sessions Team        Washington Wizards
Number                       7
Position                    PG
Age                         30
Height                     6-3
Weight                     190
College                 Nevada
Salary             2.17046e+06
Name: Ramon Sessions, dtype: object

Garrett Temple Team        Washington Wizards
Number                      17
Position                    SG
Age                         30
Height                     6-6
Weight                     195
College                    LSU
Salary              1.1006e+06
Name: Garrett Temple, dtype: object

Marcus Thornton Team        Washington Wizards
Number                      15
Position                    SF
Age                         29
Height                     6-4
Weight                     205
College                    LSU
Salary                  200600
Name: Marcus Thornton, dtype: object

John Wall Team        Washington Wizards
Number                       2
Position                    PG
Age                         25
Height                     6-4
Weight                     195
College               Kentucky
Salary              1.5852e+07
Name: John Wall, dtype: object

Darrell Arthur Team        Denver Nuggets
Number                   0
Position                PF
Age                     28
Height                 6-9
Weight                 235
College             Kansas
Salary           2.814e+06
Name: Darrell Arthur, dtype: object

D.J. Augustin Team        Denver Nuggets
Number                  12
Position                PG
Age                     28
Height                 6-0
Weight                 183
College              Texas
Salary               3e+06
Name: D.J. Augustin, dtype: object

Will Barton Team        Denver Nuggets
Number                   5
Position                SF
Age                     25
Height                 6-6
Weight                 175
College            Memphis
Salary         3.53333e+06
Name: Will Barton, dtype: object

Wilson Chandler Team        Denver Nuggets
Number                  21
Position                SF
Age                     29
Height                 6-8
Weight                 225
College             DePaul
Salary         1.04494e+07
Name: Wilson Chandler, dtype: object

Kenneth Faried Team        Denver Nuggets
Number                  35
Position                PF
Age                     26
Height                 6-8
Weight                 228
College     Morehead State
Salary          1.1236e+07
Name: Kenneth Faried, dtype: object

Danilo Gallinari Team        Denver Nuggets
Number                   8
Position                SF
Age                     27
Height                6-10
Weight                 225
College                NaN
Salary             1.4e+07
Name: Danilo Gallinari, dtype: object

Gary Harris Team        Denver Nuggets
Number                  14
Position                SG
Age                     21
Height                 6-4
Weight                 210
College     Michigan State
Salary         1.58448e+06
Name: Gary Harris, dtype: object

Nikola Jokic Team        Denver Nuggets
Number                  15
Position                 C
Age                     21
Height                6-10
Weight                 250
College                NaN
Salary             1.3e+06
Name: Nikola Jokic, dtype: object

Joffrey Lauvergne Team        Denver Nuggets
Number                  77
Position                 C
Age                     24
Height                6-11
Weight                 220
College                NaN
Salary         1.70972e+06
Name: Joffrey Lauvergne, dtype: object

Mike Miller Team        Denver Nuggets
Number                   3
Position                SG
Age                     36
Height                 6-8
Weight                 218
College            Florida
Salary              947276
Name: Mike Miller, dtype: object

Emmanuel Mudiay Team        Denver Nuggets
Number                   0
Position                PG
Age                     20
Height                 6-5
Weight                 200
College                NaN
Salary         3.10224e+06
Name: Emmanuel Mudiay, dtype: object

Jameer Nelson Team        Denver Nuggets
Number                   1
Position                PG
Age                     34
Height                 6-0
Weight                 190
College     Saint Joseph's
Salary           4.345e+06
Name: Jameer Nelson, dtype: object

Jusuf Nurkic Team        Denver Nuggets
Number                  23
Position                 C
Age                     21
Height                 7-0
Weight                 280
College                NaN
Salary           1.842e+06
Name: Jusuf Nurkic, dtype: object

JaKarr Sampson Team        Denver Nuggets
Number                   9
Position                SG
Age                     23
Height                 6-9
Weight                 214
College         St. John's
Salary              258489
Name: JaKarr Sampson, dtype: object

Axel Toupane Team        Denver Nuggets
Number                   6
Position                SG
Age                     23
Height                 6-7
Weight                 210
College                NaN
Salary                 NaN
Name: Axel Toupane, dtype: object

Nemanja Bjelica Team        Minnesota Timberwolves
Number                          88
Position                        PF
Age                             28
Height                        6-10
Weight                         240
College                        NaN
Salary                    3.95e+06
Name: Nemanja Bjelica, dtype: object

Gorgui Dieng Team        Minnesota Timberwolves
Number                           5
Position                         C
Age                             26
Height                        6-11
Weight                         241
College                 Louisville
Salary                 1.47444e+06
Name: Gorgui Dieng, dtype: object

Kevin Garnett Team        Minnesota Timberwolves
Number                          21
Position                        PF
Age                             40
Height                        6-11
Weight                         240
College                        NaN
Salary                     8.5e+06
Name: Kevin Garnett, dtype: object

Tyus Jones Team        Minnesota Timberwolves
Number                           1
Position                        PG
Age                             20
Height                         6-2
Weight                         195
College                       Duke
Salary                 1.28208e+06
Name: Tyus Jones, dtype: object

Zach LaVine Team        Minnesota Timberwolves
Number                           8
Position                        PG
Age                             21
Height                         6-5
Weight                         189
College                       UCLA
Salary                 2.14836e+06
Name: Zach LaVine, dtype: object

Shabazz Muhammad Team        Minnesota Timberwolves
Number                          15
Position                        SF
Age                             23
Height                         6-6
Weight                         223
College                       UCLA
Salary                 2.05692e+06
Name: Shabazz Muhammad, dtype: object

Adreian Payne Team        Minnesota Timberwolves
Number                          33
Position                        PF
Age                             25
Height                        6-10
Weight                         237
College             Michigan State
Salary                 1.93884e+06
Name: Adreian Payne, dtype: object

Nikola Pekovic Team        Minnesota Timberwolves
Number                          14
Position                         C
Age                             30
Height                        6-11
Weight                         307
College                        NaN
Salary                    1.21e+07
Name: Nikola Pekovic, dtype: object

Tayshaun Prince Team        Minnesota Timberwolves
Number                          12
Position                        SF
Age                             36
Height                         6-9
Weight                         212
College                   Kentucky
Salary                      947276
Name: Tayshaun Prince, dtype: object

Ricky Rubio Team        Minnesota Timberwolves
Number                           9
Position                        PG
Age                             25
Height                         6-4
Weight                         194
College                        NaN
Salary                    1.27e+07
Name: Ricky Rubio, dtype: object

Damjan Rudez Team        Minnesota Timberwolves
Number                          10
Position                        SF
Age                             29
Height                         6-9
Weight                         230
College                        NaN
Salary                  1.1495e+06
Name: Damjan Rudez, dtype: object

Greg Smith Team        Minnesota Timberwolves
Number                           4
Position                        PF
Age                             25
Height                        6-10
Weight                         250
College               Fresno State
Salary                         NaN
Name: Greg Smith, dtype: object

Karl-Anthony Towns Team        Minnesota Timberwolves
Number                          32
Position                         C
Age                             20
Height                         7-0
Weight                         244
College                   Kentucky
Salary                  5.7036e+06
Name: Karl-Anthony Towns, dtype: object

Andrew Wiggins Team        Minnesota Timberwolves
Number                          22
Position                        SG
Age                             21
Height                         6-8
Weight                         199
College                     Kansas
Salary                 5.75868e+06
Name: Andrew Wiggins, dtype: object

Steven Adams Team        Oklahoma City Thunder
Number                         12
Position                        C
Age                            22
Height                        7-0
Weight                        255
College                Pittsburgh
Salary                2.27904e+06
Name: Steven Adams, dtype: object

Nick Collison Team        Oklahoma City Thunder
Number                          4
Position                       PF
Age                            35
Height                       6-10
Weight                        255
College                    Kansas
Salary                   3.75e+06
Name: Nick Collison, dtype: object

Kevin Durant Team        Oklahoma City Thunder
Number                         35
Position                       SF
Age                            27
Height                        6-9
Weight                        240
College                     Texas
Salary                2.01586e+07
Name: Kevin Durant, dtype: object

Randy Foye Team        Oklahoma City Thunder
Number                          6
Position                       SG
Age                            32
Height                        6-4
Weight                        213
College                 Villanova
Salary                  3.135e+06
Name: Randy Foye, dtype: object

Josh Huestis Team        Oklahoma City Thunder
Number                         34
Position                       SF
Age                            24
Height                        6-7
Weight                        230
College                  Stanford
Salary                1.14024e+06
Name: Josh Huestis, dtype: object

Serge Ibaka Team        Oklahoma City Thunder
Number                          9
Position                       PF
Age                            26
Height                       6-10
Weight                        245
College                       NaN
Salary                  1.225e+07
Name: Serge Ibaka, dtype: object

Enes Kanter Team        Oklahoma City Thunder
Number                         11
Position                        C
Age                            24
Height                       6-11
Weight                        245
College                  Kentucky
Salary                1.64075e+07
Name: Enes Kanter, dtype: object

Mitch McGary Team        Oklahoma City Thunder
Number                         33
Position                       PF
Age                            24
Height                       6-10
Weight                        255
College                  Michigan
Salary                1.46304e+06
Name: Mitch McGary, dtype: object

Nazr Mohammed Team        Oklahoma City Thunder
Number                         13
Position                        C
Age                            38
Height                       6-10
Weight                        250
College                  Kentucky
Salary                     222888
Name: Nazr Mohammed, dtype: object

Anthony Morrow Team        Oklahoma City Thunder
Number                          2
Position                       SG
Age                            30
Height                        6-5
Weight                        210
College              Georgia Tech
Salary                  3.344e+06
Name: Anthony Morrow, dtype: object

Cameron Payne Team        Oklahoma City Thunder
Number                         22
Position                       PG
Age                            21
Height                        6-3
Weight                        185
College              Murray State
Salary                2.02152e+06
Name: Cameron Payne, dtype: object

Andre Roberson Team        Oklahoma City Thunder
Number                         21
Position                       SG
Age                            24
Height                        6-7
Weight                        210
College                  Colorado
Salary                 1.2108e+06
Name: Andre Roberson, dtype: object

Kyle Singler Team        Oklahoma City Thunder
Number                          5
Position                       SF
Age                            28
Height                        6-8
Weight                        228
College                      Duke
Salary                    4.5e+06
Name: Kyle Singler, dtype: object

Dion Waiters Team        Oklahoma City Thunder
Number                          3
Position                       SG
Age                            24
Height                        6-4
Weight                        220
College                  Syracuse
Salary                5.13843e+06
Name: Dion Waiters, dtype: object

Russell Westbrook Team        Oklahoma City Thunder
Number                          0
Position                       PG
Age                            27
Height                        6-3
Weight                        200
College                      UCLA
Salary                1.67442e+07
Name: Russell Westbrook, dtype: object

Cliff Alexander Team        Portland Trail Blazers
Number                          34
Position                        PF
Age                             20
Height                         6-8
Weight                         240
College                     Kansas
Salary                      525093
Name: Cliff Alexander, dtype: object

Al-Farouq Aminu Team        Portland Trail Blazers
Number                           8
Position                        SF
Age                             25
Height                         6-9
Weight                         215
College                Wake Forest
Salary                  8.0429e+06
Name: Al-Farouq Aminu, dtype: object

Pat Connaughton Team        Portland Trail Blazers
Number                           5
Position                        SG
Age                             23
Height                         6-5
Weight                         206
College                 Notre Dame
Salary                      625093
Name: Pat Connaughton, dtype: object

Allen Crabbe Team        Portland Trail Blazers
Number                          23
Position                        SG
Age                             24
Height                         6-6
Weight                         210
College                 California
Salary                      947276
Name: Allen Crabbe, dtype: object

Ed Davis Team        Portland Trail Blazers
Number                          17
Position                         C
Age                             27
Height                        6-10
Weight                         240
College             North Carolina
Salary                  6.9808e+06
Name: Ed Davis, dtype: object

Maurice Harkless Team        Portland Trail Blazers
Number                           4
Position                        SF
Age                             23
Height                         6-9
Weight                         215
College                 St. John's
Salary                 2.89406e+06
Name: Maurice Harkless, dtype: object

Gerald Henderson Team        Portland Trail Blazers
Number                           9
Position                        SG
Age                             28
Height                         6-5
Weight                         215
College                       Duke
Salary                       6e+06
Name: Gerald Henderson, dtype: object

Chris Kaman Team        Portland Trail Blazers
Number                          35
Position                         C
Age                             34
Height                         7-0
Weight                         265
College           Central Michigan
Salary                   5.016e+06
Name: Chris Kaman, dtype: object

Meyers Leonard Team        Portland Trail Blazers
Number                          11
Position                        PF
Age                             24
Height                         7-1
Weight                         245
College                   Illinois
Salary                 3.07588e+06
Name: Meyers Leonard, dtype: object

Damian Lillard Team        Portland Trail Blazers
Number                           0
Position                        PG
Age                             25
Height                         6-3
Weight                         195
College                Weber State
Salary                 4.23629e+06
Name: Damian Lillard, dtype: object

C.J. McCollum Team        Portland Trail Blazers
Number                           3
Position                        SG
Age                             24
Height                         6-4
Weight                         200
College                     Lehigh
Salary                 2.52516e+06
Name: C.J. McCollum, dtype: object

Luis Montero Team        Portland Trail Blazers
Number                          44
Position                        SG
Age                             23
Height                         6-7
Weight                         185
College             Westchester CC
Salary                      525093
Name: Luis Montero, dtype: object

Mason Plumlee Team        Portland Trail Blazers
Number                          24
Position                         C
Age                             26
Height                        6-11
Weight                         235
College                       Duke
Salary                 1.41552e+06
Name: Mason Plumlee, dtype: object

Brian Roberts Team        Portland Trail Blazers
Number                           2
Position                        PG
Age                             30
Height                         6-1
Weight                         173
College                     Dayton
Salary                 2.85494e+06
Name: Brian Roberts, dtype: object

Noah Vonleh Team        Portland Trail Blazers
Number                          21
Position                        PF
Age                             20
Height                         6-9
Weight                         240
College                    Indiana
Salary                 2.63772e+06
Name: Noah Vonleh, dtype: object

Trevor Booker Team        Utah Jazz
Number             33
Position           PF
Age                28
Height            6-8
Weight            228
College       Clemson
Salary      4.775e+06
Name: Trevor Booker, dtype: object

Trey Burke Team          Utah Jazz
Number                3
Position             PG
Age                  23
Height              6-1

In [43]:
#iterate over columns
col = df2.head(3)
 
col

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [44]:
# creating a list of dataframe columns
clmn = list(col)
 
for i in clmn:
    # printing a third element of column
    print(col[i][2])

Boston Celtics
30.0
SG
27.0
6-5
205.0
Boston University
nan

In [ ]:
#find missing values
#isnull(): if data misssed it gives true else false
#notnull(): opposite of is null

#fillling missing values
#fillna() :  
#replace()
#interpolate()


#dropna(): used to drop the missing rows

In [45]:
import numpy as np
  
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
  
# creating a dataframe from dictionary
df3 = pd.DataFrame(dict)
  
# filling a missing value with
# previous ones  
df3.fillna(method ='pad')    #method="bfill" used to fill before value of the nan

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2         90.0          56.0         80.0
3         95.0          56.0         98.0

In [47]:
newdf= pd.read_csv("/home/neosoft/Downloads/employees.csv")
  
df1

               Number Position   Age Height            College     Salary
Name
Avery Bradley     0.0       PG  25.0    6-2              Texas  7730337.0
Jae Crowder      99.0       SF  25.0    6-6          Marquette  6796117.0
John Holland     30.0       SG  27.0    6-5  Boston University        NaN
R.J. Hunter      28.0       SG  22.0    6-5      Georgia State  1148640.0
Jonas Jerebko     8.0       PF  29.0   6-10                NaN  5000000.0
...               ...      ...   ...    ...                ...        ...
Shelvin Mack      8.0       PG  26.0    6-3             Butler  2433333.0
Raul Neto        25.0       PG  24.0    6-1                NaN   900000.0
Tibor Pleiss     21.0        C  26.0    7-3                NaN  2900000.0
Jeff Withey      24.0        C  26.0    7-0             Kansas   947276.0
NaN               NaN      NaN   NaN    NaN                NaN        NaN

[458 rows x 6 columns]

In [52]:
newdf["Gender"].fillna("No Gender", inplace = True) 
newdf.tail(10)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
990,Robin,Female,7/24/1987,1:35 PM,100765,10.982,True,Client Services
991,Rose,Female,8/25/2002,5:12 AM,134505,11.051,True,Marketing
992,Anthony,Male,10/16/2011,8:35 AM,112769,11.625,True,Finance
993,Tina,Female,5/15/1997,3:53 PM,56450,19.040,True,Engineering
994,George,Male,6/21/2013,5:47 PM,98874,4.479,True,Marketing
995,Henry,No Gender,11/23/2014,6:09 AM,132483,16.655,False,Distribution
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales

In [53]:
# making data frame from csv file 
data1 = pd.read_csv("/home/neosoft/Downloads/employees.csv") 
    
# will replace  Nan value in dataframe with value -99  
data1.replace(to_replace = np.nan, value = -99)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,-99
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services
...,...,...,...,...,...,...,...,...
995,Henry,-99,11/23/2014,6:09 AM,132483,16.655,False,Distribution
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales

In [55]:
#pandas series
# a simple list
list = ['r', 'a', 'd', 'h', 'a']
  
# create series form a list
ser = pd.Series(list)
print(ser[:2])

0    r
1    a
dtype: object

In [62]:
#group by: used to form the group based on more than one category  

# First grouping based on "Team"
# Within each team we are grouping based on "Position"
gkk = data.groupby(['Team', 'Position'])

# Print the first value in each group
gkk.first()

                             Number   Age Height  Weight  \
Team               Position
Atlanta Hawks      C           15.0  30.0   6-10   245.0
                   PF          43.0  31.0    6-9   235.0
                   PG          17.0  22.0    6-1   172.0
                   SF          24.0  26.0    6-5   201.0
                   SG          10.0  24.0    6-6   205.0
...                             ...   ...    ...     ...
Washington Wizards C           13.0  32.0   6-11   240.0
                   PF          90.0  34.0   6-10   250.0
                   PG           7.0  30.0    6-3   190.0
                   SF           1.0  30.0    6-7   225.0
                   SG           6.0  33.0    6-6   220.0

                                          College      Salary
Team               Position
Atlanta Hawks      C                      Florida  12000000.0
                   PF                   Minnesota   1000000.0
                   PG                 Wake Forest   1763400.0
                   SF                Old Dominion   2000000.0
                   SG                    Michigan   1304520.0
...                                           ...         ...
Washington Wizards C         North Carolina State  11217391.0
                   PF                      Kansas   3300000.0
                   PG                      Nevada   2170465.0
                   SF              Boston College   4375000.0
                   SG              Michigan State   4000000.0

[149 rows x 6 columns]